*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100%;
    font-family: "Poppins", sans-serif;
}
.header{
    border: 2px solid black;
    overflow: hidden;
    height: 100vh;
}

.TheApp{
    border: 2px solid blue;
    height: 90vh;
    display: flex;
}
.heading{
    color: black;
    font-size: 64px;
    margin-right: 60vw;
}
.subheading{
    color: rgb(34, 138, 34);
    margin-top: 300px;
    margin-right: 200px;
}
/*.sidepic{
    margin-left: 73vw;
    margin-top: 52px;
}*/
.Clarity{
    border: 2px solid red;
    height: 90vh;
    background-color: #f1f1f1;
    display: flex;
}
.clarity-img{
    width: 350px;
    height: 72vh;
    border: 2px solid black;
    margin-top: 55px;
    margin-left: 15px;
}
.clarity-image{
    border-radius: 8px;
}
.clarity-text{
    width:800px ;
    height:72vh ;
    border: 3px solid yellow;
}
.Features{
    border: 2px solid green;
    height: 120vh;
}
.Pricing{
   border: 2px solid purple;
   height: 135vh;
}
.Footer{
   border: 2px solid orangered;
   height:26vh;
}