*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100%;
    font-family: "Poppins", sans-serif;
}
.header{
    border: 2px solid black;
    overflow: hidden;
    height: 100vh;
}

.TheApp{
    border: 2px solid blue;
    height: 90vh;
    display: flex;
}
.info{
    width: 70%;
    height: 600px;
    border: 2px solid blue;
}
.heading{
    color: black;
    font-size: 64px;
    padding-top: 35px;
    padding-left: 20px;
}
.subheading{
    color: rgb(45, 165, 45);
    padding-right: 50px;
    font-size: 50px;
    padding-left: 20px;
}
.text{
    padding-left: 20px;
}
.attention{
    font-size: 24px;
}
.sidepic{
    width: 30%;
    padding-top: 50px;
    padding-left: 55px;
    height: 495px;
    border: 5px solid red;
    display: flex;
}
.button{
    padding-left: 21px;
    padding-top: 25px;
    color: lightgrey;
}
.t_ext{
    font-size: 17px;
}
 button:hover {
    background-color: rgb(221, 217, 217);
}
.download{
    width: 200px;
    height: 50px;
}
.last_text{
    padding-top: 19px;
    padding-left: 21px;
}
#android{
    color: lightgreen;
    font-size: 25px;
    margin-left: 2px;
}
#apple{
    color: black;
    font-size: 25px;
    margin-left: 2px;
}
#windows{
    color: lightblue;
    font-size: 25px;
    margin-left: 2px;
}
.Clarity{
    border: 2px solid red;
    height: 90vh;
}
.Features{
    border: 2px solid green;
    height: 120vh;
    background-color: grey;
    color: white;
}

.heading_2{
    font-size: 70px;
    text-align: center;
}
.subheading_2{
    text-align: center;
    font-size: 17px;
}
.row_1{
    text-align: center;
    width: 100%;
    
}
.row_2{
    text-align: center;
    width: 100%;

}
.row_3{
    text-align: center;
    width: 100%;

}
.Pricing{
   border: 2px solid purple;
   height: 135vh;
}
.Footer{
   border: 2px solid orangered;
   height:26vh;
}